@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html {
    height: 100vh;
    width: 100%;
    font-size: 10px;
}

body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a,
a:hover,
a:link {
    text-decoration: none;
    outline: none;
    color: inherit;
}

button {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* media query */
@media screen and (max-width:500px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 7px;
    }
}