.content_part {
  width: calc(100% - 40%);
  margin-left: auto;
  display: block;
}

.home_heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
}


/* intro */
.inro_sec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 5rem;
}

.inro_img {
  max-width: 100%;
  height: auto;
}

/* about */
.about_sec {
  width: 100%;
  padding: 5rem 5rem;
}

.about_sec h2 {
  margin-bottom: 30px;
  font-size: 3.2rem;
  color: dodgerblue;
}

.about_sec h3 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.about_sec h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.about_sec h5 {
  font-size: 2rem;
  font-weight: bold;
}

.about_sec span {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  display: block;
}

.about_sec p {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 30px;
}

/* project */
.project_sec {
  width: 100%;
  padding: 5rem 5rem;
}

.project_list {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.project_left {
  width: 40%;
}

.project_left img {
  width: 100%;
}

.project_right {
  width: 55%;
}

.project_right h3 {
  margin-bottom: 5px;
}

.project_right p {
  margin-bottom: 10px;
}

.project_right a {
  font-weight: 600;
}



/* Skills section */
.skill_sec {
  width: 100%;
  padding: 5rem 5rem;
}

.skills_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill_box {
  width: 100%;
  background: #fff;
  padding: 25px 15px;
  max-width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.skill_box h3 {
  font-size: 2.2rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

.svg_box {
  position: relative;
  height: 150px;
  width: 150px;
}

.svg_box span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, -50%);
}

.horixontal_bar_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.horizontal_bar_box {
  width: 45%;
  margin-bottom: 30px;
}

.horizontal_bar_box h3 {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 10px;
}

.horizontal_bar_box h3 span {
  font-weight: 400;
  font-size: 18px;
}

.h_bar {
  width: 100%;
  height: 10px;
  border-radius: 8px;
  background-color: #e6e6e6;
  position: relative;
  overflow: hidden;
}

.h_bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: dodgerblue;
}

.p_90::before {
  width: 90%;
}

.p_85::before {
  width: 85%;
}

.p_80::before {
  width: 80%;
}

.p_75::before {
  width: 75%;
}

.p_70::before {
  width: 70%;
}

.p_65::before {
  width: 65%;
}

.p_60::before {
  width: 60%;
}

.p_40::before {
  width: 40%;
}

.p_30::before {
  width: 30%;
}

.p_35::before {
  width: 35%;
}

/* project */
.blog_sec {
  width: 100%;
  padding: 5rem 5rem;
}

.blog_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog_listing {
  width: 46%;
  width: 375px;
  background-size: 4px 4px;
  background-image: radial-gradient(#3c71bf, 35%, transparent 35%);
  padding: 20px;
  margin-bottom: 40px;
}

.content_body {
  padding: 20px;
  border: 2px solid #3c71bf;
  border-radius: 1px;
}

.blog_listing a {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.blog_listing a:hover {
  text-decoration: underline !important;
}

.blog_listing p {
  margin-bottom: 20px;
}

/* footer */
footer {
  width: 100%;
  padding: 7rem 5rem;
  background-image: url(/bg_1.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

footer * {
  position: relative;
  z-index: 2;
}

footer h2 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

footer h5 {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: dodgerblue;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* media queries */
@media screen and (max-width:990px) {
  .content_part {
    width: 100%;
    margin-left: auto;
    display: block;
  }

  .inro_sec {
    height: auto;
    max-height: 100vh
  }

}

@media screen and (max-width:667px) {
  .project_list {
    flex-direction: column;
  }

  .project_left {
    width: 100%;
    margin-bottom: 20px;
  }

  .project_right {
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .inro_sec {
    height: 300px;
  }

  .horixontal_bar_container {
    flex-direction: column;
  }

  .horizontal_bar_box {
    width: 100%;
  }

  .skill_box {
    margin-left: auto;
    margin-right: auto;
  }
}