.sidebar {
  height: 100vh;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.sidebar_inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 75px 75px 50px;
  overflow-y: auto;
}

.change_theme_btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 20;
  cursor: pointer;
  border-radius: 5px;
  line-height: 0px;
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  background-color: firebrick;
  display: inline-block;
  color: #fff;
  padding: 6px 20px;
  margin-bottom: 20px;
}

.sidebar h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.para_box {
  display: block;
  margin: 40px 0px;
}

.para_box p {
  font-size: 18px;
  line-height: 1.6;
}

.touch_btn {
  display: inline-block;
  padding: 15px 35px;
  background-color: dodgerblue;
  color: #fafafa !important;
  border-radius: 30px;
  text-transform: uppercase;
}

.linkcss {
  font-weight: 600;
  color: dodgerblue !important;
  font-size: 18px;
}

.social_icon_box {
  display: block;
  margin-bottom: 50px;
}

.social_icon_box a {
  display: inline-block;
  margin: 0px 10px;
}

.social_icon {
  fill: #999;
  transition: 0.4s;
}

.social_icon:hover {
  fill: #467fd6;
}

/* media queries */
@media screen and (max-width: 1250px) {
  .sidebar_inner {
    padding: 75px 45px 50px;
  }
}

@media screen and (max-width: 990px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: unset;
    min-height: 100vh;
    display: block;
  }

  .sidebar_inner {
    padding: 80px 15px 50px;
    text-align: center;
  }

  .para_box p {
    max-width: 600px;
    margin: 0 auto;
  }
}
